<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Learning Log</title>
</head>
<body>
    
    <div class="container">
        <h5>
            <a href="{% url 'index' %}">Learning Log</a>
            <a href="{% url 'topics' %}">Topics</a>
            {% if user.is_authenticated %}
                Hello, {{  user.username}}.
                <a href="{% url 'users:logout_view' %}">Log out</a>
            {% else %}
                <a href="{% url 'users:register' %}">Register</a>
                <a href="{% url 'users:login' %}">Log in</a>
            {% endif %}
        </h5>
        
        {% block content %}

        {% endblock content %}
    </div>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>